body {

    margin: 0;

    padding: 0;

    font-family: Arial, sans-serif;

}

.hidden {
    opacity: 0;                    
    transform: translateY(20px);   
    pointer-events: none;          
    transition: opacity 0.5s, transform 0.5s; 
}


.section {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #fff;

    font-size: 2rem;

    text-align: center;

    position: relative;

}

.section .content {

    position: absolute;

    top: 60%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.section .content p.bounce {

    position: relative;

    animation: bounce 1.5s infinite;

    top: 200px;

}



.section .content p span.arrow {

    animation: bounce 1.5s infinite;

    margin-top: 10px;

}



.parallax {

    position: relative;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    overflow: hidden;

}



.section:nth-child(odd) {

    background-image: url('https://i.ibb.co/fGJbCnV/41ea3050-46d1-4fc6-8cbc-2cede3d16195.webp');

}



.section:nth-child(even) {

    background-image: url('https://i.ibb.co/9YV01Dx/d44ba60e-b036-4ee4-ac90-3e828f562aa5.webp');

}



.content {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.clickable {

    cursor: pointer;

    text-decoration: none;

    color: inherit;

}



@keyframes bounce {

    0% {

        transform: translateY(0);

    }

    50% {

        transform: translateY(50px);

    }

    100% {

        transform: translateY(0);

    }

}


::-webkit-scrollbar {

  width: 6px;

}



::-webkit-scrollbar-thumb {

  background-color: #464646;

  border-radius: 3px;

}



::-webkit-scrollbar-thumb:hover {

  background-color: #555;

}



::-webkit-scrollbar-track {

  background-color: #f1f1f1;

}
